body {

    margin: 0;
    color: white;
    font-family: "DM Sans", sans-serif;
}
main{
    display: flex;
    flex-direction: row;
    padding-inline: 10vw;
    margin: 0;
}
h3 {
    margin: 0;
    margin-top: 3vh;
    font-size: 1.2vw;
    font-weight: 500;
}
.formCalc{
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    height: 78vh;
    width: 38vw;
    padding-inline: 1.8vw;
    padding-block: 3vh;
    background-color: #936639;
    box-sizing: border-box;
    border-top-left-radius: 2.5vw;
    border-bottom-left-radius: 2.5vw;
}
.formCalc input{
    border: 0px solid #000;
    border-radius: 0.7vw;
    padding-inline: 0.5vw;
    height: 5vh;
    width: 32.5vw;
    font-size: 1vw;
}
.formCalcSelect {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.formCalcSelect input{
    width: 23.5vw;
    margin-right: 0.5vw;
}
.formCalcSelect select{
    height: 5.3vh;
    font-family: 'DM Sans';
    font-size: 1.1vw;
    font-weight: 600;
    border: 0vw solid #000;
    border-radius: 0.7vw;
}
.formCalcLogo {
    width: 3.5vw;
    margin-bottom: 1.5vh;
    align-self: center;
}
.formCalcButton {
    margin-top: 12vh;
    height: 40px;
    border-radius: 10px;
    background-color: #20663db3;;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.formCalcButton:hover{
    transition: background-color 0.5s, color 0.5s ease, box-shadow 0.5s ease;
    cursor: pointer;
    background-color: #266041;
    color: white;
    box-shadow: 0 2px 1vw 0 rgb(18, 51, 34, 0.5), 0 -2px 1vw 0 rgb(18, 51, 34, 0.5)
}
#formResultText {
    color: black;
    margin-top: 3vh;
}
.formResult {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 38vw;
    height: 78vh;
    margin-top: 3vh;
    border-top-right-radius: 2.5vw;
    border-bottom-right-radius: 2.5vw;
    padding-inline: 1.8vw;
    padding-block: 3vh;
    box-sizing: border-box;
}


.back{
    background-color: rgba(32, 102, 61, 0.7);
    min-width: 100vw;
    height: 120vh;
}

input {
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
    text-align: center;
}

.back{
    background-color: rgba(32, 102, 61, 0.7);
    min-width: 100vw;
    height: 110vh;
}

.footerContainer {
    background-color:rgba(7, 7, 7, 0.7);
    width: 100vw;
    height: 8vh;
    position: absolute;
    bottom: 0;
    display: flex;
    padding: 10px;
    align-items: center;
    text-align: center;
}

.footerItem {
       align-items: center;
       width: 100%;
       justify-content: space-around;
}