main {
    color: var(--cor-texto);
    display: flex;
    flex-direction: row;
}
h3 {
    margin: 0;
}
.container {
    padding: 10px;
    border: 1.5px solid var(--cor-borda);
    border-radius: 5px;
    background-color: var(--cor-secundaria);
    min-width: max-content;
    margin-block: 10px;
    margin-inline:6px;
}
.containerData {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.containerSection {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.containerSection canvas{
    height: 240px;
}
.containerSection span {
    text-align: left;
    color: var(--cor-texto);
    margin-bottom: 15px;
    font-size: 15px;
}
.sensorList {
    height: 92vh;
    width: 20.9vw;
}
.sensorListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    padding-inline: 10px;
    border-bottom: 1px solid var(--cor-borda);
    margin-top: 20px;
    font-size: 15px
}
.sensorListItem button {
    background-color: transparent;
    border: 2px solid var(--cor-destaque);
    padding: 5px 10px 5px 10px;
    color: var(--cor-destaque);
    border-radius: 10px;
    color: var(--cor-ne);
    transition: background-color 0.4s ease;
}
.sensorListItem button:hover {
    background-color: var(--cor-destaque-hover);
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.container h3 {
    margin-bottom: 5px;
}