main {
    color: #888888;
    display: flex;
    flex-direction: row;
}
h3 {
    margin: 0;
}
.container {
    padding: 10px;
    border: 1.5px solid #24282b;
    border-radius: 5px;
    background-color: #181b1f;
    width: max-content;
    margin: 10px;
}
.containerData {
    display: flex;
    flex-direction: row;
}
.containerSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* margin-inline:10px; */
}
.containerSection img{
    width: 300px;
}
.containerSection span {
    text-align: left;
    color: #888888;
    margin-bottom: 15px;
    font-size: 15px;
}
#umidade {
    margin-right: 40px;
}
.sensorList {
    height: 87vh;
    width: 20.9vw;
}
.sensorListItem {
    border-bottom: 1px solid #24282b;
}