@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    background-image: url(../img/trigo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.3vw;
    color: #fff;
    font-weight: 600;
    overflow-x: hidden;
}
.back{
    background-color: rgba(32, 102, 61, 0.7);
    min-width: 100vw;
    height: 110vh;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 14vh;
    width: 100%;
}
.navbarLogo{
    display: flex;
    align-items: center;
}
.navbarLogo p{
    font-size: 1.3vw;
    color: #fff;
    font-weight: 600;
}
.navbarLogo img{
    width: 4vw;
    margin-right: 0.8vw;
}
.navbarButtons{
    display: flex;
    align-items: center;
    width: max-content;
}
.navbarButtons button {
    background-color: transparent;
    padding-block: 0.3vw;
    border: 0.2vw solid #936639;
    border-radius: 20px;
    transition: background-color 0.5s ease;
    color: white;
    height: 6vh;
    width: 6.5vw;
    font-size: 1.3vw;
    font-weight: 300;
}
.navbarButtons button:hover {
    background-color: rgb(147, 102, 57,0.5);
    transition: background-color 0.4s ease, color 1s ease;
    cursor: pointer;
}
.navbarButtons img{
    width: 1.5vw;
    margin-inline: 0.7vw;
}
.navbarButtons a{
    margin-inline: 1.5vw;
    font-size: 1.3vw;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

.navbarButtons a:hover{
color:  #ffda82;

}
.navbarButtons ul {
    padding: 0;
    display: flex;
}