main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    margin: 0;
}
button{
    border: 0px solid;
    border-radius: 20px;
    font-weight: bold;
    height: 43px;
    width: 100px;
    color:  #eeb122;
    background-color: white;
    transition: background-color 0.4s ease, color 0.4s ease;
}
button:hover{
    transition: background-color 0.4s ease, color 0.4s ease;
    color: white;
    background-color: #eeb122;
    cursor: pointer;
}
.container {
    display: flex;
    height: max-content;
    margin: auto;
    box-sizing: border-box;
    padding: 23px 35px 20px 35px;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    position: relative;
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}
.buttons span{
    margin-top: 10px;
    font-weight: 300;
    font-size: 14px;
}
.buttons a {
    color: white;
    text-decoration: none; 
    cursor: pointer; 
}
.elementos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.elementos span {
    margin-block: 3px 6px;
    display: flex;
    justify-content: end;
    font-weight: 200;
    font-size: 14px;
}
input {
    width: 300px;
    height: 30px;   
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    height: 45px;
    color: white;
}
input::placeholder {
    color: #c6c6c6;
}
#cadastro{
    margin-left: 5px;
    color: white;
    transition: color 0.4s ease;
}
#cadastro:hover{
    color: #d3ab4d;
    text-decoration: underline;
    transition: color 0.2s ease;
}
.icon-position {
    position: absolute;
    right: 13px;
    top: 57%;
    width: 20px;
    height: 20px;
    font-size: 18px;
}
#btn_entrar{
    margin-block: 10px;
    width: 100%;
}
.loginField {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 10px;
}

.loginField span {
    font-size: 15px;
    font-weight: 400;
    align-self: center;
}

.errorMsg {
    width: 60%;
    display: none;
    font-size: 16px;
    font-weight: 300;
    font-weight: bold;
    color: red;
    right: -80%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    top: 0;
    position: absolute;
}

.modal{
    text-align: center;
}